.GameControls {
  width: 750px;
  margin-bottom: 80px;
}
.GameControls button {
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}
.GameControls button.ai-btn {
  margin-top: -7px;
}
.GameControls button.start-btn, button.displaying, button.pause-btn, button.ai-btn {
  /* background-color: rgb(211, 213, 214); */
  background-color: aliceblue;
  
}
.GameControls button:hover {
  background-color: rgba(100, 231, 106, 0.801);
  color: white;
}
article .setup {
  display: flex;
  flex-direction: column;
}
article .setup > div {
  display: flex;
  justify-content: space-between;
  /* width: 400px; */
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}
article .setup > div.SelectInput {
  cursor: auto;
}
article .setup > div.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 400px; */
  margin-bottom: 5px;
}
article .setup > input {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  padding: 5px;
}
input.hidden {
  display: none;
}
div.color-selected {
  width: 250px;
  height: 25px;
  border: 1px solid rgb(204, 201, 201);
}
.error > p {
  color: red;
}
.pause-btn {
  width: 100%;
}

.SelectInput.ballType {
  margin-top: -15px;
}